@font-face {
  font-family: "digital-7-mono";
  src: url("font/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("font/converted/ms_sans_serif.woff") format("woff");
  src: url("font/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("font/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("font/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  background-color: #008080;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

footer {
  height: 27px;
  background: #c0c0c0;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #c0c0c0;
}

footer .content_old {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 4px;
  border-top: 1px solid #fff;
}

.time-wrap {
  width: 97px;
  height: 22px;

  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.time-wrap span {
  font-size: 13px;
}

.image-icons {
  background-image: url("./images/icons_background.png");
  width: 150px;
  height: 510px;
  position: absolute;
  margin: 10px;
  margin-left: 10px;
}

.window_old {
  background-color: hsl(192, 8%, 77%);
  padding: 2px;
  border-top: 2px solid #e9ebff;
  border-left: 2px solid #d4d6ff;
  border-right: 2px solid #484967;
  border-bottom: 2px solid #060735;
  position: absolute;
}

.window_old .title-bar_old {
  background-color: #0000a8;
  color: #fdfdff;
  padding: 2px;
  display: flex;
  align-items: center;
  height: 18px;
  user-select: none;
}

.title-bar_old img {
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-left: 2px;
}

.title-bar_old p {
  display: flex;
  flex: 1;
  font-size: 13px;
  font-weight: bold;
}

.title-bar_old button {
  display: flex;
  height: 15px;
  width: 15px;
  align-items: center;
  justify-content: center;
  background-color: #bfc7c9;
  border-top: 1px solid #e9ebff;
  border-left: 1px solid #d4d6ff;
  border-right: 1px solid #484967;
  border-bottom: 1px solid #060735;
  margin-left: 1px;
  font-size: 10px;
  font-weight: bolder;
}

.title-bar_old button:last-of-type {
  margin-left: 2px;
}

.button-wrap {
  display: flex;
  justify-content: center;
  /* gap: 2px; */
}

.menu-bar_old {
  margin: 4px 0px;
}

.menu-bar_old li {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu ul {
  min-width: 12rem;
}

.dropdown-menu li {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-bar_old .header {
  border: 1px solid #bfc7c9;
  padding: 2px 12px;
}

.menu-bar_old li:hover .header {
  background-color: #bfc7c9;
  border-top: 1px solid #84898d;
  border-left: 1px solid #85898d;
  border-right: 1px solid #fbffff;
  border-bottom: 1px solid #fcffff;
}

.menu-bar_old li:hover {
  background-color: #bfc7c9;
}

.menu-bar_old li:hover .dropdown-menu {
  display: block;
  padding-top: 3px;
  z-index: 5;
}

.board {
  background-color: hsl(192, 8%, 77%);
  padding: 6px;
  border-top: 3px solid #feffff;
  border-left: 3px solid #feffff;
  border-right: 3px solid #86888f;
  border-bottom: 3px solid #86888e;
}

.board .inner-box {
  border-top: 3px solid #86888f;
  border-left: 3px solid #86888e;
  border-right: 3px solid #feffff;
  border-bottom: 3px solid #feffff;
}

.row_old {
  display: flex;
}

.board .mines-area {
  margin-top: 8px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;

  --grid-size: 20px;
  --grid-strength: 1px;
  --grid-dash: 2px;
  --grid-gap: 0px;
  --grid-color: #ddd;
  --paper-color: #fff;

  /* background-color: var(--paper-color); */
  background-size: var(--grid-gap) var(--grid-gap),
    var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to bottom,
      transparent var(--grid-dash),
      var(--paper-color) var(--grid-dash)
    ),
    linear-gradient(
      to right,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    ),
    linear-gradient(
      to right,
      transparent var(--grid-dash),
      var(--paper-color) var(--grid-dash)
    ),
    linear-gradient(
      to bottom,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    );
}

.counter-area {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-family: "digital-7-mono";
  color: red;
  font-size: 28px;
  text-align: center;
  line-height: 0.6;
  position: relative;
}

.disabled-number {
  font-family: "digital-7-mono";
  color: #a80057;
  font-size: 26px;
  text-align: center;
  line-height: 0.9;
  position: absolute;
  top: 0px;
  opacity: 0.3;
  left: 0px;
  font-size: 28px;
  text-align: center;
  line-height: 0.6;
  width: 100%;
}

.counter-area .digital-counter {
  position: relative;
  width: 41px;
  height: 25px;
  border-top: 1px solid #87888f;
  border-left: 1px solid #87888f;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color: #000;
}

.counter-area .button-face {
  width: 23px;
  height: 23px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #87888f;
  border-right: 1px solid #87888f;
}

.button-face.happy {
  background-image: url(./images/happy_face.png);
  background-size: 24px;
  background-position: center;
  padding: 13px;
  background-repeat: no-repeat;
}

.mine {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-top: 2px solid #e9ebff;
  border-left: 2px solid #d4d6ff;
  border-right: 2px solid #86888f;
  border-bottom: 2px solid #86888f;
}

.bomb {
  width: 20px;
  height: 20px;
  background-image: url("./images/icon.png");
  background-size: cover;
  background-position: center;
}

.empty {
  width: 20px;
  height: 20px;
}
.open {
  width: 20px;
  height: 20px;
}

.cell_old {
  text-align: center;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  font-weight: bolder;
  font-family: "Pixelated MS Sans Serif", sans-serif;
}

.cell[data-value="1"] {
  color: #0301fc;
}

.cell[data-value="2"] {
  color: #028000;
}
.cell[data-value="3"] {
  color: #fb0101;
}
.cell[data-value="4"] {
  color: #010180;
}
.cell[data-value="5"] {
  color: #7d0001;
}
.cell[data-value="6"] {
  color: #00807e;
}
.cell[data-value="7"] {
  color: #000000;
}
.cell[data-value="8"] {
  color: #808080;
}

#game-board {
  width: 192px;
  min-width: 192px;
  background-color: #bfc7c9;
  position: relative;
}
/* ------------------------------------ */

.window {
  width: 158px;
  height: 239px;
  box-shadow: -1px -1px 0px 0px #000 inset, 1px 1px 0px 0px #b8b8b8 inset;
  padding: 1px;
  position: absolute;
  top: 133px;
  left: 120px;
}

.window .content {
  background: #b8b8b8;
  box-shadow: -1px -1px 0px 0px #757575 inset, 1px 1px 0px 0px #fff inset;
  width: 100%;
  height: 100%;
  padding: 2px;
}

/* Title bar */
.title-bar {
  height: 18px;
  background: #000171;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-bar span {
  color: #fff;
  font-size: 11px;
  margin-left: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 18px;
  flex: 1;
}

.title-bar img {
  width: 16px;
  height: 16px;
  margin-left: 2px;
}

#minimize {
  background-image: url("./images/minimize-window-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#maximize {
  background-image: url("./images/disabled-maximize-window-icon.svg");
  background-repeat: no-repeat;
  background-position: center 2px;
}
#close {
  background-image: url("./images/close-window-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.title-bar-controls {
  display: flex;
  justify-content: center;
  margin-right: 2px;
}

.title-bar-controls button {
  height: 14px;
  width: 16px;
  border: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #b8b8b8;
  box-shadow: 1px 1px 0px 0px #fff inset,
    -1px -1px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

.title-bar-controls button:last-of-type {
  margin-left: 2px;
}

/* Menu bar */
nav.menu-bar {
  height: 20px;
}

.menu-bar li {
  display: inline-block;
  padding-right: 3px;
}

a.header {
  font-size: 11px;
  margin-left: 7px;
}

a.header,
a.header:visited,
a.header:hover,
a.header:focus,
a.header:active {
  text-decoration: none;
  display: inline-block;
}

a.header::first-letter {
  text-decoration: underline;
}

/* Game content */
.game-wrapper {
  background-color: #b8b8b8;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #757575;
  border-right: 3px solid #757575;
  padding: 6px;
}

/* Game status */
.game-status {
  background: #b8b8b8;
  box-shadow: 2px 2px 0px 0px #757575 inset, -2px -2px 0px 0px #fff inset;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.score-box {
  width: 39px;
  height: 23px;
  background: #000;
  box-shadow: 1px 1px 0px 0px #fff, -1px -1px 0px 0px #757575;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Digits */
.digit {
  width: 11px;
  height: 21px;
}

.digit-0 {
  background-image: url("./images/number-0.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-1 {
  background-image: url("./images/number-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-2 {
  background-image: url("./images/number-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-3 {
  background-image: url("./images/number-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-4 {
  background-image: url("./images/number-4.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-5 {
  background-image: url("./images/number-5.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-6 {
  background-image: url("./images/number-6.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-7 {
  background-image: url("./images/number-7.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-8 {
  background-image: url("./images/number-8.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-9 {
  background-image: url("./images/number-9.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.digit-minus {
  background-image: url("./images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Reset status button */
.status-button {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.55);
  background: #b8b8b8;
  box-shadow: 1px 1px 0px 0px #757575, 1px 1px 0px 0px #fff inset,
    -1px -1px 0px 0px #757575 inset;
}

/* Faces */
.happy-face {
  background-image: url("./images/happy-face.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.dead-face {
  background-image: url("./images/dead-face-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.scary-face {
  background-image: url("./images/scary-face.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Game board */
.game-board {
  width: 134px;
  height: 134px;
  margin-top: 6px;
  border-top: 3px solid #757575;
  border-left: 3px solid #757575;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  display: flex;
  flex-direction: column;
}

.cell {
  width: 16px;
  height: 16px;

  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #b8b8b8;
  box-shadow: 1px 1px 0px 0px #fff inset,
    -1px -1px 0px 0px rgba(0, 0, 0, 0.3) inset;

  text-align: center;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  font-weight: bolder;
}

.row {
  display: flex;
}

.reveal {
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
  box-shadow: none;
}

.flagged {
  background-image: url("./images/flag-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.bomb {
  background-image: url("./images/cell-bomb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.exploded {
  background-color: red;
}
