/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "MS Sans Serif", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.window {
  background-color: hsl(192, 8%, 77%);
  padding: 2px;
  border-top: 2px solid #e9ebff;
  border-left: 2px solid #d4d6ff;
  border-right: 2px solid #484967;
  border-bottom: 2px solid #060735;
}

.window .title-bar {
  background-color: #0000a8;
  color: #fdfdff;
  padding: 2px;
  display: flex;
  align-items: center;
  height: 2rem;
}

.title-bar img {
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
}

.title-bar p {
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
}

.title-bar button {
  display: flex;
  height: 1.625rem;
  width: 1.375rem;
  align-items: center;
  justify-content: center;
  background-color: #bfc7c9;
  border-top: 1px solid #e9ebff;
  border-left: 1px solid #d4d6ff;
  border-right: 1px solid #484967;
  border-bottom: 1px solid #060735;
}

.button-wrap {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.menu-bar {
  /* background-color: red; */
}

.menu-bar li {
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu ul {
  min-width: 10rem;
}

.dropdown-menu li {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-bar li:hover .dropdown-menu {
  display: block;
}

#game-board {
  width: 356px;
  height: 459px;
  background-color: #bfc7c9;
  margin: 0 auto;
}
